---
import Layout from '../layouts/Layout.astro';
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';
---

<Layout title="About || Rhythm Nation">
	<Main>
		<H1 text="Rhythm Nation Blog" />
        <p class="text-lg leading-relaxed text-gray-800 bg-gray-100 p-6 rounded-lg shadow-md">
			Welcome to <span class="font-bold text-teal-600">Rhythm Nation Blog</span>, a space where ideas come to life! 
			Here, you'll find a collection of thoughtful articles, in-depth tutorials, and insightful musings on topics that matter. 
			Whether you're a creative thinker, or simply someone who loves to learn and explore, our blog is designed to inspire and inform. 
			We believe in the power of knowledge sharing, and our goal is to provide you with fresh perspectives, practical tips, and the latest trends in 
			<span class="font-bold text-teal-600">Music</span>. 
			Dive in, discover something new, and join the conversation today!
		  </p>	
	</Main>
</Layout>